.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}

.btn-previous,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-previous {
  left: 10px;
}

.btn-next {
  right: 10px;
}

.btn-bot-ppp {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.btn-bot {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-bot:hover {
  background-color: white;
}

.btn-bot.active {
  border: none;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}
