* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.btn-previous {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px;
}

.btn-next {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  padding: 10px;
}

.btn-bot {
  background-color: white;
  border: none;
  margin: 0 5px;
  width: 30px;
  height: 5px;
}

.btn-bot-ppp {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-previous-icon {
  height: 25px;
  width: 25px;
  color: white;
}

.btn-next-icon {
  color: white;
  height: 25px;
  width: 25px;
}
